.Synonyms {
  margin: 20px 0;
  padding: 0;
}

.Synonyms ul {
  padding-right: 10px;
}

.Synonyms li {
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
  line-height: 1;
  color: #0e6df5;
}
